body{
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
    text-align: center;
}

section{
    background: while;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: #2e7d32;
}

canvas{
    border:2px solid #2e7d32;
    margin-top: 10px;
}

button{
    padding: 8xp 15px;
    background-color: #2e7d32;
    color: while;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}