body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #e8f5e9, #dcedc1);
    text-align: center;
}

canvas#fondo{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

section{
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: #2e7d32;
}
